const Handlebars = require('handlebars');
<section class="card">
    <h3>
  <a href=""/article/{{id}}">Article {{id}}: {{title}}</a>
    </h3>
    <p>{{user.username}}: {{format_time date_created}}</p>
  </a>
</section>