
<aside>
      <h2>{{username}}'s Dashboard</h2>
      <a href="/create/" class="create">Create Post</a>
</aside>
{{#each posts as |post|}}
<div class="blogpost-div">
        <div class="card">
          
          <h3>
            <span class="card-title">{{post.title}}</span> 
            <span class ="card-id">{{post.id}}</span>
            </h3>
          <h4 class="card-body"></h4>
          <p class="card-text">
              {{post.text}}
              </p>
        
           <div class="button-container">
    <a href="/mypost/{{post.id}}" class="view">View Comments</a>
    <a href="/update/{{post.id}}" class="update">Update</a>
    <button class="delete" id="{{post.id}}">Delete</button>
  </div>
      </div>
  {{/each}}
</div>
<script src="/js/dashboard.js"></script>