<!-- We are tracking the number of times we visit this homepage -->

<section class="blog">
 <section class="card">
    <h3>
  <a href="/blog/{{id}}">Blog {{id}}: {{title}}</a>
    </h3>
    <p>{{text}}: {{format_date date_created}}</p>
  </a>
</section>
</section>